*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}

.main h1{
    position: relative;
    font-size: 55px;
    top: 80px;
    left: 25px;
}

.main h1 span{
    color: #089da1;
}

.main p{
    width: 650px;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 125px;
    left: 25px;
}

.main .main-tag .main-btn{
    background: #089da1;
    padding: 10px 20px;
    position: relative;
    top: 200px;
    left: 25px;
    color: #fff;
    text-decoration: none;
}

.main .main-img img{
    width: 780px;
    position: relative;
    top: 90px;
    left: 20px;
}